// THIS FILES GOES TO : MeteoCharts/conf.h 
// Description: Configuration file for the ESP32

// General
const bool HAS_LED = 1;
const bool HAS_BATTERY = 1;
const bool HAS_DISPLAY = 1;

#define LED_PIN 3 
#define SDA 8 
#define SCL 9 
#define BME280_BUS 0x76
#define SSD1306_BUS 0x3C // Address 0x3D for 128x64 ??
#define SCREEN_HEIGHT 32 // 32 or 64
#define SCREEN_WIDTH 128 
#define OLED_RESET -1
#define BATTERY_PIN 0

// Local Wi-Fi connection
const char* SSID = "YOUR_SSID";
const char* PASSWORD = "YOUR_PWD";

// MeteoCharts Server Connection
const uint16_t HTTP_PORT   = 443;
const String SERVER_NAME = "meteo.husnet.ch"; // hostname of web server: