// THIS FILES GOES TO : MeteoCharts/conf.h 


// Local Wi-Fi connection
const char* ssid = "Your_SSID";
const char* password = "Secret";

// MeteoCharts Server Connection
const String HTTP_PORT   = 80;
const String SERVER_NAME = "https://meteo.charts.local"; // hostname of web server:

